//
//  target.common.macos.xcconfig
//

#include "../Xcode.config/$user.boost.xcconfig"
#include "../Xcode.config/$user.gtest.xcconfig"
#include "../Xcode.config/$user.ICU.xcconfig"



// JP_ROOT - the path to the JPJson Source folder
JP_ROOT = $(SRCROOT)/../Source


//
// Compiler and std libraries
//

// C++ Standard Library
CLANG_CXX_LIBRARY = libc++

// C++ Language Dialect
CLANG_CXX_LANGUAGE_STANDARD = c++0x

// Automatic Reference Counting
CLANG_ENABLE_OBJC_ARC = YES


//
// Architectures
//
ARCHS = $(NATIVE_ARCH_ACTUAL)


//
// Deployment Target
//
MACOSX_DEPLOYMENT_TARGET = 10.7



//
// Header search paths
//
PRJ_HEADER_SEARCH_PATHS = $(SOURCE_ROOT) $(BOOST_HEADER_SEARCH_PATH)


//
//  Framework search paths
//
PRJ_FRAMEWORK_SEARCH_PATHS = $(inherited) $(GTEST_FRAMEWORK_SEARCH_PATH)

//
//  Other Linker Flags
//
OTHER_LDFLAGS = -ObjC
