//
//  common.xcconfig
//


#include "../../Xcode.config/$user.boost.xcconfig"


// Source Root Path
JP_ROOT = "$(SRCROOT)/../../Source"



//
// Compiler and std libraries
//
//GCC_VERSION = com.apple.compilers.llvm.clang.1_0
//CLANG_CXX_LANGUAGE_STANDARD = compiler-default
//CLANG_CXX_LIBRARY = compiler-default
//CLANG_CXX_LANGUAGE_STANDARD = c++0x
//CLANG_CXX_LIBRARY = libc++


// Header search paths
PRJ_HEADER_SEARCH_PATHS = $(JP_ROOT) $(BOOST_HEADER_SEARCH_PATHS)
