//
//  iOS.release.xcconfig
//

#include "../../Xcode.config/user.boost.xcconfig"

// Source Root Path
JP_ROOT = "$(SRCROOT)/../../Source"

// Header search paths
PRJ_HEADER_SEARCH_PATHS = $(JP_ROOT) $(BOOST_HEADER_SEARCH_PATHS)

PRJ_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 $(BOOST_GCC_PREPROCESSOR_DEFINITIONS)
