//
//  project.release.xcconfig
//


#include "common.xcconfig"


HEADER_SEARCH_PATHS = $(COMMON_HEADER_SEARCH_PATHS) 

GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS $(COMMON_GCC_PREPROCESSOR_DEFINITION)

FRAMEWORK_SEARCH_PATHS = $(COMMON_FRAMEWORK_SEARCH_PATHS)

GCC_OPTIMIZATION_LEVEL = 3


