//
//  Bench.debug.xcconfig
//  Bench
//
//  Created by Andreas Grosam on 12/1/11.
//  Copyright (c) 2011 __MyCompanyName__. All rights reserved.
//

JP_ROOT = "$(SRCROOT)/../Source"

#include "../Xcode.config/user.boost.xcconfig"
#include "../Xcode.config/user.ICU.xcconfig"

BENCH_HEADER_SEARCH_PATHS = $(JP_ROOT) $(BOOST_HEADER_SEARCH_PATHS) $(ICU_HEADER_SEARCH_PATHS)

BENCH_GCC_PREPROCESSOR_DEFINITIONS = DEBUG $(BOOST_GCC_PREPROCESSOR_DEFINITIONS)

