//
//  Bench.release.xcconfig
//

JP_ROOT = "$(SRCROOT)/../Source"

#include "../Xcode.config/$user.boost.xcconfig"
#include "../Xcode.config/$user.ICU.xcconfig"

BENCH_HEADER_SEARCH_PATHS = $(JP_ROOT) $(BOOST_HEADER_SEARCH_PATHS) $(ICU_HEADER_SEARCH_PATHS)

BENCH_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS $(BOOST_GCC_PREPROCESSOR_DEFINITIONS)

GCC_OPTIMIZATION_LEVEL = 3


