//
//  Bench.release.xcconfig
//


#include "../Xcode.config/$user.boost.xcconfig"
#include "../Xcode.config/$user.ICU.xcconfig"
#include "common.xcconfig"



BENCH_HEADER_SEARCH_PATHS = $(COMMON_HEADER_SEARCH_PATHS) $(BOOST_HEADER_SEARCH_PATH) $(ICU_HEADER_SEARCH_PATH)

BENCH_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG NS_BLOCK_ASSERTIONS $(COMMON_GCC_PREPROCESSOR_DEFINITION) $(BOOST_GCC_PREPROCESSOR_DEFINITIONS)

FRAMEWORK_SEARCH_PATHS = $(COMMON_FRAMEWORK_SEARCH_PATHS)

GCC_OPTIMIZATION_LEVEL = 3


