//
//  Bench.debug.xcconfig
//  Bench
//
//  Created by Andreas Grosam on 12/1/11.
//  Copyright (c) 2011 __MyCompanyName__. All rights reserved.
//


#include "../Xcode.config/$user.boost.xcconfig"
#include "../Xcode.config/$user.ICU.xcconfig"
#include "common.xcconfig"


BENCH_HEADER_SEARCH_PATHS = $(COMMON_HEADER_SEARCH_PATHS) $(BOOST_HEADER_SEARCH_PATH) $(ICU_HEADER_SEARCH_PATH)

BENCH_GCC_PREPROCESSOR_DEFINITIONS = DEBUG $(COMMON_GCC_PREPROCESSOR_DEFINITION) $(BOOST_GCC_PREPROCESSOR_DEFINITIONS)

FRAMEWORK_SEARCH_PATHS = $(COMMON_FRAMEWORK_SEARCH_PATHS)
