//
//  default.gtest.xcconfig
//  
//  This file is meant for a template for user settings. Don't change this file!
//  In your project, rename this file to user.gtest.xconfig 
// 


// If the gtest framework has been installed properly, JPJson doesn't need 
// additional configuration settings, except the "Source Tree" setting 
// `JPJson.GTEST_ROOT` which need to be setup in Xcode preferences.

