//
//  ICU.xcconfig
//  
//
//  Created by Andreas Grosam on 12/1/11.
//  Copyright (c) 2011 __MyCompanyName__. All rights reserved.
//

// This configuration is only required in the test suite. The following
// settings are appropriate if ICU has been installed with HomeBrew.


ICU_HEADER_SEARCH_PATHS = "/usr/local/Cellar/icu4c/4.8.1.1/include"
ICU_OTHER_LDFLAGS = -licuuc
ICU_LIBRARY_SEARCH_PATHS = "/usr/local/Cellar/icu4c/4.8.1.1/lib"

